<h3 class="ui header">{{t "forms.i-i-s-otel-допуск-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otel-допуск-e.комнаты-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.комнаты
      displayAttributeName="iD"
      autocomplete=true
      relationName="комнаты"
      projection="КомнатыL"
      title=(t "forms.i-i-s-otel-допуск-e.комнаты-caption")
      readonly=readonly
      componentName="комнатыLookup"
      class=(if (v-get validationModel "комнаты" "isInvalid") "error")
      data-test-i-i-s-otel-допуск-e-комнаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "комнаты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-otel-допуск-e.гости-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.гости
      relationName="гости"
      projection="ГостиL"
      title=(t "forms.i-i-s-otel-допуск-e.гости-caption")
      readonly=readonly
      componentName="гостиLookup"
      class=(if (v-get validationModel "гости" "isInvalid") "error")
      data-test-i-i-s-otel-допуск-e-гости=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "гости" "message")}}
  </div>
  <div class="field" data-test-i-i-s-otel-допуск-e-доступ="true">
    <label>{{t "forms.i-i-s-otel-допуск-e.доступ-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-otel-доступа")
      value=model.доступ
      class=(if (v-get validationModel "доступ" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "доступ" "message")}}
  </div>
</form>
